printer:
  ip: "192.168.1.108"  # Printer IP address
  port: 7125  # Moonraker port, 7125 is the default one.
notifier:
  url: "http://...."
  token: "the API key to be used for calling the notification service"
polling_interval_seconds: 30 # How often to check printer status

# Issue Detector Configuration
issue_detector:
  stream_url: "http://192.168.1.108:8080/?action=stream"
  confidence_thresholds:
    error: 0.75 # Example threshold for 'error' class
    spaghetti: 0.60 # Example threshold for 'spaghetti' class
  detection_area_of_interest: [100, 120, 590, 320]  # Filter out detections that are not in this rectangle. Reduce false positives.
